TELEMOST_TOKEN=replace_with_telemost_oauth_token
YC_FOLDER_ID=replace_with_yandex_cloud_folder_id
YC_API_KEY=replace_with_yandex_cloud_api_key
YC_S3_BUCKET=replace_with_yc_object_storage_bucket
YC_S3_KEY_ID=replace_with_yc_s3_key_id
YC_S3_SECRET=replace_with_yc_s3_secret
