TELEMOST_TOKEN=replace_with_telemost_oauth_token
YC_FOLDER_ID=replace_with_yandex_cloud_folder_id
YC_API_KEY=replace_with_yandex_cloud_api_key
MINIO_ENDPOINT=https://s3.begemot26.ru
MINIO_ACCESS_KEY=9KQT2X4GQ7T0P8MQMM79
MINIO_SECRET_KEY=msNCxwguvPkXsrjYo6LMo5PFSiFS4UU4O361h0ew
MINIO_USE_SSL=true
MINIO_BUCKET_MEDIA=telemost
